POSTGRES_DB=continuum
POSTGRES_USER=continuum
POSTGRES_PASSWORD=continuum
DATABASE_URL=postgresql+psycopg://continuum:continuum@postgres:5432/continuum
REDIS_URL=redis://redis:6379/0
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
JWT_SECRET_KEY=655fe5e9ee7344289a5cc72d5c46aa76f60b141d448799c6330db0a1b5e230c8
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
